body {
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	margin-left: 30px;
	margin-right: 30px;
	background-color: #fff;
}

.container {
	height: 90vh;
	width: 99.5%;
	position: absolute;
	top: 0;
	left: 0;
	justify-content: center;
}

.map-container {
	margin: auto;
	margin-top: 10px;
	width: 99%;
	height: 100%;
	align-items: center;
	justify-content: center;
	border: 1px solid #949498;
	border-radius: 5px;
	overflow: hidden;
	background-color: #efefef;
}
